<section class="product__detail">
  <h2 class="product__detail__title">title</h2>
  <div class="product__fields">
    <div class="product__field__container">
      <label class="product__field__label" for="quantity">quantity</label>
      <input id="quantity" class="product__field" type="text" title="The number of items">
    </div>
    <div class="product__field__container">
      <label class="product__field__label" for="quantity">price</label>
      <input id="price" class="product__field" type="text" title="The number of items">
    </div>
    <div class="product__field__container">
      <label class="product__field__label" for="quantity">description</label>
      <textarea id="description" class="product__field field__description" title="The number of items"></textarea>
    </div>
  </div>
</section>