@import '~assets/sass/helpers/style'

.container
    margin: 0 auto
    padding: 32px 16px 0
    max-width: $container-max-width
    color: $text

    +respond-at($breakpoint-M)
        padding-top: 80px

    +respond-at($breakpoint-L)
        padding-top: 160px
