@import '~assets/sass/helpers/style'

.products
    margin: 0 auto
    max-width: 300px
    border: $border-base-style

.products__title
    margin: 0
    padding: 5px 10px
    color: $title
    font:
        size: 1.25rem
        weight: normal
        style: normal
    text-transform: uppercase
    +gradient-background()

.products__list
    +reset-list-style()
    padding: 15px 0 0
    border-top: $border-base-style

.products__list__item
    position: relative
    padding: 5px 10px
    border-bottom: $border-base-style

    &:last-child
        border-bottom: 0

.product__checkbox
    display: none

    &+.product__check__btn
        display: inline-block
        background:
            image: url(/assets/images/un-checked.jpg)
            repeat: no-repeat
        width: 12px 
        height: 13px
        margin-right: 4px
        vertical-align: middle
        cursor: pointer
    
    &:checked + .product__check__btn
        background:
            image: url(/assets/images/checked.jpg)
            repeat: no-repeat

.product__checked__title
    display: inline-block
    height: 20px
    line-height: 20px
    color: $light-text
    text:
        decoration: line-through
        decoration-color: $text
        transform: capitalize

.product__title__field
    height: 20px
    border: 0
    color: $light-text
    text-transform: capitalize

    &:focus
        outline: 0
        color: $text

.product__delete__btn
    +reset-button-style()
    color: $danger
    vertical-align: middle

.add__new__product__field
    +reset-button-style()
    width: 100%
    padding: 5px 30px
    border-top: $border-base-style
    color: $light-text
    text-transform: capitalize