<section class="products" [ngClass]="{'no__products': !hasProducts()}">
  <h2 class="products__title">Add your items here</h2>
  <!-- List of Products -->
  <ul class="products__list" *ngIf="products.length">
    <li *ngFor="let product of products" class="products__list__item" [ngClass]="{'active': isSelectedProduct(product.id)}">
      <!-- Togole product status button -->
      <input id="check-product-{{ product.id }}" class="product__checkbox" type="checkbox" (click)="toggleCheckedStatus(product)" [(ngModel)]="product.isChecked">
      <label for="check-product-{{ product.id }}" class="product__check__btn"></label>
      <!-- Display checked product title -->
      <label class="product__checked__title" for="product-id-{{ product.id }}" *ngIf="product.isChecked">{{ product.title }}</label>
      <!-- Edit exsisting product field -->
      <input id="product-id-{{ product.id }}" type="text" class="product__title__input__field" *ngIf="!product.isChecked" [(ngModel)]="product.title" (focus)="setEditorMode(product)">
      <!-- Delete product button -->
      <button class="product__delete__btn" (click)="delete(product.id)">x</button>
    </li>
  </ul>
  <!-- Add new product field -->
  <input type="text" class="add__new__product__field" placeholder="Add Item" (focus)="setEditorMode(newProduct)" (keyup.enter)="add(newProduct)" [(ngModel)]="newProduct.title">
</section>
<!-- View product detail fields -->
<app-product-detail [product]="selectedProduct"></app-product-detail>

<pre style="display: block; clear: both">
  <h4 *ngIf="isSelectedProduct">Selected Product ID: {{ selectedProduct | json }}</h4>
  <h4>Number of products: {{ products.length }}</h4>
  <strong>Products list:</strong>
  {{ products | json }}
</pre>