@import '~assets/sass/helpers/style'

.products
    max-width: 300px
    height: 400px
    border: $border-base-style

.products__title
    margin: 0
    padding: .3rem .7rem
    color: $title
    font:
        size: 1.25rem
        weight: normal
        style: normal
    text-transform: uppercase
    +gradient-background()

.products__list
    margin: 0
    padding: 0
    border-top: $border-base-style
    list-style: none

.products__list__item
    padding: 5px 10px