<div class="products" [ngClass]="{'no__products': !products.length}">
  <h2 class="products__title">{{ title }}</h2>
  <ul class="products__list" *ngIf="products.length">
    <li *ngFor="let product of products" class="products__list__item" [ngClass]="{'active': product.id == selectedProductId}">
      <input id="check-product-{{ product.id }}" class="product__checkbox" type="checkbox" (click)="toggleCheckedStatus(product)" [(ngModel)]="product.isChecked">
      <label for="check-product-{{ product.id }}" class="product__check__btn"></label>
      <label class="product__checked__title" for="product-id-{{ product.id }}" *ngIf="product.isChecked">{{ product.title }}</label>
      <input id="product-id-{{ product.id }}" class="product__title__input__field" type="text" *ngIf="!product.isChecked" [ngClass]="{'checked': product.isChecked}" [(ngModel)]="product.title">
      <button class="product__delete__btn" (click)="delete(product.id)">x</button>
    </li>
  </ul>
  <input class="add__new__product__field" type="text" placeholder="Add Item" (keyup.enter)="add(newProduct)" [(ngModel)]="newProduct.title">
</div>